---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Me";

const identity = {
    firstName: "Snake",
    lastName: "Doc",
    nationality: "Australian",
    occupation: "Programming Instructor",
    hobbies: ["Programming", "Game Dev", "Mountain Biking"],
};

const skills = ["Python", "C#", "JS", "HTML", "CSS", "pygame", "PyQt", "Unity"]

const happy = true;
const finished = false;
const goal = 14;

const skillColor = "crimson";
const fontWeight = "bold";
const textCase = "uppercase";
---
<BaseLayout pageTitle={pageTitle}>
    <h2>... and my new Astro site!</h2>

    <p>I am working through a tutorial on how to make a blog using Astro</p>

    <p>This site will update as I complete more of the tutorial</p>

    <p>Here are a few facts about me:</p>
    <ul>
        <li>My name is {identity.firstName} {identity.lastName}</li>
        <li>I'm from {identity.nationality} and i work as a {identity.occupation}.</li>
        {identity.hobbies.length >= 2 &&
            <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
        }
    </ul>
    <p>My skills are:</p>
    <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
    {happy && <p>I am happy to be learning Astro!</p>}
    {finished && <p>I finished this tutorial!</p>}
    {goal === 14 ? <p>My goal is to finish in 14 lessons!</p> : <p>My goal is not 14 lessons.</p>}

    <!-- Page-specific Styles -->
    <style define:vars={{skillColor, fontWeight, textCase}}>
            .skill {
                color: var(--skillColor);
                font-weight: var(--fontWeight);
                text-transform: var(--textCase);
            }
    </style>

    <!-- Styles that must affect layout elements ( like h1) -->
     <style is:global>
        h1 {
            color: purple;
            font-size: 4rem;
        }
     </style>

</BaseLayout>


